.list_wrap{
  list-style: none;
  display: flex;

}
.list_news_container{
  display: flex;
  align-items: center;

}
.component{
  border: 1px black solid;
  border-radius: 5px;
  width: fit-content;
}
.list_news,
.date_of_news,
.list_currensy{
  margin: 10px;
}
.short_news_wrap{
  list-style: none;
  display: flex;
  flex-direction: column;
}
.short_news{
  display: flex;
}
.currensy_list_wrap{
  display: flex;
  list-style: none;
}
.widget_container{
  display: flex;
}
.widget_wrapper{
  border: 1px black solid;
  border-radius: 5px;
  margin: 10px;
}

